<!DOCTYPE html>
<html>
<head>
    <title>Quiz Home</title>
    <style>
        ul {
            list-style-type: none;  /* Remove the list bullet points */
            padding-left: 0;        /* Remove the default padding */
        }
    </style>
</head>
<body>

<h1>Quiz Home</h1>

<form method="post">
    {% csrf_token %}
    {% for question in questions %}
        <strong>{{ question.text }}</strong>
        <ul>
        {% for choice in question.choices.all %}
            <li>
                <input type="radio" id="choice{{ choice.id }}" name="question{{ question.id }}" value="{{ choice.id }}">
                <label for="choice{{ choice.id }}">
                    {{ choice.text }}
                </label>
                {% comment %}
                {% if choice.is_correct %}
                    <span style="color:green;">(Correct Answer)</span>
                {% endif %}
                {% endcomment %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
<strong>You got : {{score}}</strong>
</body>
</html>